:root {
    --primary-color: #303F9F;
    --secondary-color: #F6F4EB;
    --button-color:#536DFE;
  }
nav{
    height: 100px;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
}
h1{
    color: var(--secondary-color);
}
.navbar-brand img {
    height: 10vh;
}

.nav-link{
    color: #F9F9F9;
}
.navbar-nav{
    gap: 2.5vw;
 }
 .nav-link a {
    font-weight: 500;
    font-size: 16px;
}

.btn-donasi{
    font-weight: 500;
    font-size: 16px;
    padding: 5px 25px 5px 25px;
}



.navbar-toggler-icon{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
padding: 5px 25px 5px 25px;
}


/* footer */
.footer a{
    font-weight: 500;
    font-size: 16px;
    padding: 0;
    padding-bottom: 15px;
    
}

.footer a:hover{
    color: #F9F9F9;
    text-decoration: none;
}

.sosmed-icons {
    font-size: 24px;
    color: #F9F9F9;

}

.icon i{
    padding-right: 0.5vw;
}
/* .navy {
    background: #132A53;
    color: #F9F9F9;

} */
.btn{
    /* z-index: 3; */
    margin-top: 30px;
    border-radius: 50px;
    background: var(--button-color) ;
    /* font-weight: 500; */
    /* font-size: 1.3vw; */
    color: #F9F9F9;
    padding: 10px 25px 10px 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar-collapse{
    background-color: var(--primary-color);
}

.container-fluid{
    background-color: var(--primary-color);
}



@media screen and (max-width: 576px){
    nav{
        height: 75px;
    }
    .navbar-brand img {
        height: 6vh;
    }
    
}

@media screen and (max-width: 991px){
    .navbar-brand img {
        height: 6vh;
    }
    .d-flex{
    margin-bottom: 10px;
    }
}